// Миксины

@mixin afs($First, $Second, $Third) {

  // Использование:
  
  // .element {
  //    @include afs(36px, 24px, 18px);
  // }
  
  // Первый размер для планшета+
  // Второй телефон - планшет
  // Третий - телефон и ниже

  @media screen and ( max-width: $TabletWidth ) {
    font-size: $Second;
  }

  @media screen and ( max-width: $PhoneWidth ) {
    font-size: $Third;
  }

  @media screen and ( min-width: $TabletWidth ) {
    font-size: $First;
  }
}
