//Все настройки

@import "./colors";
@import "./width";
@import "./mixins";

// Глобальные стили
body {
  padding: 0;
  margin: 0;
  font-family: 'Balsamiq Sans';
  overflow-x: hidden;
}
.container {
  box-sizing: border-box;
  margin: auto;

  @media screen and ( max-width: $TabletWidth ) {
    width: 100%;
    margin: 0;
  }

  @media screen and ( min-width: $TabletWidth ) {
    width: 750px;
  }

  @media screen and ( min-width: $SmDesktopWidth ) {
    width: 970px;
  }

  @media screen and ( min-width: $DesktopWidth ) {
    width: 1140px;
  }
}
a {
  text-decoration: none
}