<template lang="pug">
  main-layout
    .Home home page 
</template>

<script>
//components
import MainLayout from "@/layouts/MainLayout";

export default {
  name: "Home",
  components: {
    MainLayout
  }
};
</script>

<style lang="scss"></style>
