<template lang="pug">
  .MainLayout
    main-header

    slot

    main-footer
</template>

<script>
//components
import MainHeader from "@/components/MainHeader";
import MainFooter from "@/components/MainFooter";

export default {
  name: "MainLayout",
  components: {
    MainHeader,
    MainFooter
  }
};
</script>

<style lang="scss"></style>
